@{
    ViewData["Title"] = "Equipe";
}
<div class="text-center">
    <h1 class="display-4"><b>EQUIPE MATRIX</b></h1>
</div>

<div class="carousel slide" id="carousel-636030">
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-636030" class="active">
        </li>
        <li data-slide-to="1" data-target="#carousel-636030" class="active">
        </li>
    </ol>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img class="d-block w-100" alt="Descrição" src="~/Imagem/Equipe.jpg">
        </div>
    </div>
</div>
